name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  rustfmt:
    runs-on: ubuntu-22.04

    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt

      - uses: actions/checkout@v3

      - run: cargo fmt -- --check
  clippy:
    runs-on: ubuntu-22.04

    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: clippy

      - uses: actions/checkout@v3

      - run: cargo +nightly clippy -- --deny warnings
  ci:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false

      matrix:
        include:
          - toolchain: stable
          - toolchain: stable
            features: no-std
          - toolchain: stable
            features: botan3
          - toolchain: stable
            features: vendored
          - toolchain: 1.64.0 # MSRV
          - toolchain: nightly
          - toolchain: nightly
            features: no-std

    steps:
      - run: sudo apt-get -qq install ccache libbotan-2-dev
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
            path: |
              ~/.cache/ccache
              ~/.cargo
            key: ${{ matrix.toolchain }}-${{ matrix.features }}-${{ github.run_id }}
            restore-keys: |
               ${{ matrix.toolchain }}-${{ matrix.features }}
      - uses: dtolnay/rust-toolchain@master
        with:
          target: ${{ matrix.target }}
          toolchain: ${{ matrix.toolchain }}
      - run: ./.ci/build.sh ${{ matrix.features }}

  ci_mac:
    runs-on: macos-latest

    strategy:
      fail-fast: false

      matrix:
        include:
          - toolchain: stable
          - toolchain: stable
            features: vendored
          - toolchain: nightly

    steps:
      - run: brew install ccache botan
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
            path: |
              /Users/runner/Library/Caches/ccache
              ~/.cargo
            key: ${{ matrix.toolchain }}-${{ matrix.features }}-${{ github.run_id }}
            restore-keys: |
               ${{ matrix.toolchain }}-${{ matrix.features }}
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: ./.ci/build.sh ${{ matrix.features }}
